<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user%>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: Book.new %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Book detail</h2>
      <table class='table'>
        <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <td>
            <% if @book.favorited_by(current_user) %>
              <!--つまりBook.find(params[:book_id])に user.id = current_user.idが存在しているか？-->
              <!--< %= if Book.find(params[:book_id]).favorites.exists?(bookカラム[user_id]: user.id) %>-->
              <%= link_to book_favorites_path(@book), method: :delete do %>
                ♥<%= @book.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to book_favorites_path(@book), method: :post do %>
                ♡<%= @book.favorites.count %>
              <% end %>
            <% end %>
          </td>
          <td>コメント数：<%= @book.book_comments.count %></td>
          <% if @book.user.id == current_user.id %>
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', book_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>

        <% @book.book_comments.each do |book_comment| %>
          <tr>
              <!--これだとpost指定でコメントが保存できる。但しコメント保存後sizeの部分がgiven2でerrorを起こす-->
              <!--< %= image_tag book_comment.user.profile_image(50,50)%><br>-->
            <td><%= link_to(book_comment.user) do %>
              <%= image_tag book_comment.user.get_profile_image, size:"50x50" %><br>
              <%= book_comment.user.name %>
              <% end %>
            </td>

            <td><%= book_comment.comment %></td>
            <% if book_comment.user.id == current_user.id %>
              <td><%= link_to 'Destroy', book_book_comment_path(book_comment.book,book_comment), method: :delete, class: "btn btn-sm btn-danger"%></td>
            <% end %>
          </tr>
        <% end %>


        <tr>
          <!--メソッド指定なしだとgetになって遅れていなかった。-->
          <!--が、get_prolire_imageのエラーを修正後postだと送れなくなる。なぜ？？-->
          <!--< %= form_with model:[@book, @book_comment],method: :post do |f| %>-->
          <%= form_with model:[@book, @book_comment] do |f| %>
            <td>
              <%= f.text_area :comment %><br>
              <%= f.submit "送信" %>
            </td>
          <% end %>

        </tr>
      </table>
    </div>
  </div>
</div>