<h2><%= @model %>s search for <%= @word %></h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @model == "User" %>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Introduction</th>
      </tr>
    </head>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size:'50x50' %></td>
        <td><%= user.name %></td>
        <td><%= user.introduction %></td>
      </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <% @books.each do |book| %>
    <tbody>
      <tr>
        <td><%= image_tag book.user.get_profile_image, size:'50x50' %></td>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
      </tr>
    </tbody>
    <% end %>
  <% end %>
</table>
